<footer id="footer">
    <div class="center">
        <p>
            &copy; Centro de acopio y oficinas KM 10 vía Sogamoso - Monguí Vereda San Juan de Nepomuceno Sector la mesa - Topaga <br>
            Gerente General JCBA SAS: Juan Carlos Barrera Alarcón    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Email: barrerajuanc@hotmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cel:3112173558
            <br>
            Director Administrativo: Marilin Yohana González Parra    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Email: marilingonzalez77@hotmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cel:3123386796          
        </p>
     
    </div>
</footer>