<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/Logo.jpg" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>JCBA SAS</strong>
            </span>
        </div>
        
        
        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']"[routerLinkActive]="['active']"><strong>Inicio</strong></a>
                </li>
                <li>
                    <a [routerLink]="['/nuestra-empresa']"[routerLinkActive]="['active']"><strong>Nuestra Empresa</strong></a>
                </li>
                <li>
                    <a [routerLink]="['/prod-serv']" [routerLinkActive]="['active']"><strong>Productos y Servicios</strong></a>
                </li>
                <li>
                    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']"><strong>Contacto</strong></a>
                </li>
                                        
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>
