<h1 class="subheader">PRODUCCIÓN, COMERCIALIZACIÓN Y TRANSPORTE DE MINERAL CARBÓN</h1>

<div id="imagelogo">
    <img src="assets/images/Logo.jpg" />

    <h3 class="subheader">Estas vinculado con nosotros</h3>
    <h3 class="subheader">Inicia sesión con tus datos corporativos</h3>
    <!--inicio de sesion para los Usuarios-->

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-32">
                        <strong> Inicio de Sesión JCBA </strong>
                    </span>

                    <span class="txt1 p-b-11">
                        <strong> Usuario </strong>
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        <strong> Contraseña </strong>
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                    </div>



                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Iniciar Sesión
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!-- Termina y empieza lo que va estatico de la empresa JCBA Mision y demas -->



    <div id="imagecont">

        <h1 class="contenido">HISTORIA</h1>
        <img src="assets/images/historia.JPG" />


    </div>

    <div id="imagecont1">

        <h1 class="contenido"></h1>
        <img src="assets/images/mision.JPG" />


    </div>

    <div id="imagecont1">

        <h1 class="contenido"></h1>
        <img src="assets/images/vision.JPG" />


    </div>
    <div id="imagecont">

        <h1 class="contenido"></h1>
        <img src="assets/images/centroA.JPG" />


    </div>
    <div id="imagecont">

        <h1 class="contenido"></h1>
        <img src="assets/images/minera.JPG" />


    </div>