<h1 class="tituloPS"> <strong>QUE OFRECEMOS?</strong></h1>

<h3 class= "tit2"><strong>Producción, Clasificación, Comerzalización y distribución de Carbón</strong> </h3>

<div class="imageCarbon">
    <img class="iz" src="assets/images/Carbon1.jpeg" alt/>



<aside class="tex" >

    <h3 class="nomPro">Carbón</h3>
    <strong> 
        Cenizas : 9,0 % - 15,0%
        Azufre : 0,9% - 1,5%
        Poder Calorífico : 6300 – 7.100 Kcal/kg.
        Materia Volátil : 36,0 – 42,0% 
        Hinchamiento (FSI): < 4,0
        Tamaño Partícula : ROM Todo Mina
        Granulado ½¨, 1 a 1 ½¨
        de 2´a 3´
    </strong>
</aside>

</div>

<h3 class= "tit2"><strong>Servicio de Báscula</strong> </h3>
<div class="imageCarbon">
    <img class="iz" src="assets/images/bascula.PNG" alt/>



<aside class="tex" >

    <h3 class="nomPro">Capacidad</h3>
    <strong> 
       80 TM falta
    </strong>
</aside>

</div>





